<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO" name="Ava">
	<Properties>
		<Property name="LOG_DIR">./</Property>
		<Property name="LOG_NAME">ava.log</Property>
		<Property name="PATTERN">%-5level %d [%t] %c:%M(%L): %m%n</Property>
	</Properties>
	<appenders>

	<Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${PATTERN}"/>
    </Console>

    <File name="log4jLogFile" fileName="${LOG_DIR}${LOG_NAME}" immediateFlush="true" append="false">
        <PatternLayout pattern="${PATTERN}"/>
    </File>
  </appenders>

  <loggers>
    <root level="INFO">
      <AppenderRef ref="Console" />
      <AppenderRef ref="log4jLogFile" />
    </root>
  </loggers>
</configuration>